body {
  margin: 0;
}

:root {
  line-height: 24px;
  font-weight: 400;

  --border-radius-small: 4px;

  color-scheme: light dark;
  background-color: #1b1b1b;

  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  --font-size-large: 20px;
  --font-size-medium: 18px;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  --transition-all: all 0.4s ease-in-out;

  --color-white: rgba(255, 255, 255, 0.923);
  --color-gray-100: #f4f3f1;
  --color-gray-200: #dedcd9;
  --color-gray-300: #cecac7;
  --color-gray-400: #b0aca7;
  --color-gray-500: #8a8885;
  --color-gray-600: #686663;
  --color-gray-700: #4a4946;
  --color-gray-800: #363532;
  --color-gray-900: #211f1d;

  --color-primary-100: #fef3e9;
  --color-primary-200: #fce4ce;
  --color-primary-300: #efcba9;
  --color-primary-400: #ecbb8d;
  --color-primary-500: #e7a86e;
  --color-primary-600: #e39954;
  --color-primary-700: #e68f3e;
  --color-primary-800: #df822a;
  --color-primary-900: #dc7413;
}
